/* https://chrome.google.com/webstore/detail/user-javascript-and-css/nbhcbdghjpllgmfilhnhkllmkecfmpld/related?hl=en */


/* ===========================================
Content Area
============================================*/

#site-container div div{
  background-color: rgb(38, 43, 53);
  border-color: rgb(38, 43, 53);
}

/* Newsfeed only */
img.index_NewsfeedStoryIcon-sc-19bvlgw.fSUWkD {
  background-color: #262b35;
}

div div div, div div div a, button span, .react-mentions__input{
  color: rgb(255, 255, 255);
}

/* Placeholder for the comment section on Explore */
.react-mentions__input::placeholder {
	color: rgb(255, 255, 255);
}

/* ===========================================
Left Sidebar
============================================*/

div a > li, #site-container > div > div > .sc-pbMuv, #site-container > div > .sc-qYtkq div {
  background-color: rgb(32, 33, 36);
}

div div .google-material-icons {
  color: rgb(95, 99, 104);
}